.App {
  text-align: center;
}
.fontInter {
  font-family: "Inter", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backgroundSection1 {
  background-image: url(../image/background/BackgroundSection1.png);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top !important;
  margin-top: -4rem !important;
}

@media all and (max-width: 430px) {
  .backgroundSection1 {
    background-image: url(../image/background/BackgroundSection1.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: -40rem 3rem !important;
    margin-top: -4rem !important;
  }
}

.backgroundSection2 {
  background-image: url(../image/background/BackgroundSection2.png);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: top !important;
  margin-top: -4rem !important;
}

@media all and (max-width: 430px) {
  .backgroundSection2 {
    background-image: url(../image/background/BackgroundSection2.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: -8rem 6rem !important;
    margin-top: -2rem !important;
  }
}

.backgroundSection4 {
  background-image: url(../image/background/BackgroundSection4.png);
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: right !important;
  margin-top: -9rem !important;
}

@media all and (max-width: 430px) {
  .backgroundSection4 {
    background-image: url(../image/background/BackgroundSection4.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: top;
    margin-top: 0rem !important;
  }
}

.backgroundSection5 {
  background-image: url(../image/background/BackgroundSection5.png);
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: left !important;
  margin-top: -4rem !important;
}

@media all and (max-width: 430px) {
  .backgroundSection5 {
    background-image: url(../image/background/BackgroundSection5.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: top;
    margin-bottom: 2rem !important;
  }
}

.backgroundSection6 {
  background-image: url(../image/background/BakgroundBawah.png);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 0rem -20rem !important;
  margin-top: 4rem !important;
}

@media all and (max-width: 430px) {
  .backgroundSection6 {
    background-image: url(../image/background/BakgroundBawah.png);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: 0rem 3rem !important;
    margin-top: 2rem !important;
  }
}

.font-Header {
  font-family: "Bungee Hairline", cursive;
}
@font-face {
  font-family: "Bruno Ace SC";
  src: url("./Font/BrunoAceSC-Regular.woff2") format("woff2"),
    url("./Font/BrunoAceSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-HeaderSection {
  font-family: "Bruno Ace SC";
}

.purpleGradient {
  background: linear-gradient(92.44deg, #694892 47.96%, #574892 95.15%);
}
